# dependencies
node_modules/

# build
dist/
build/

# env
.env
.env.local
.env.development
.env.production
.env.test

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# system
.DS_Store
Thumbs.db

# editors
.vscode/
.idea/

# misc
coverage/
.cache/
*.tsbuildinfo

# prisma local artifacts
prisma/*.db
prisma/*.db-journal

# uploads/runtime files
uploads/
tmp/
